@import "tailwindcss";

@theme {
  --color-gray-1: #ffffff;
  --color-gray-2: #f5f5f5;
  --color-gray-3: #dddddd;
  --color-gray-4: #a6a6a6;
  --color-gray-5: #666666;
  --color-gray-6: #222222;

  --color-primary-1: #f2effd;
  --color-primary-2: #ede6ff;
  --color-primary-3: #d7cbf7;
  --color-primary-4: #b69cf1;
  --color-primary-5: #986be9;
  --color-primary-6: #7c35d9;
  --color-primary-7: #522193;

  --color-green: #5eb669;
  --color-light-green: #37f4e9;

  --color-red: #cc0a0a;
  --color-pale-pink: #f9e2e2;

  --color-yellow: #f6a818;
  --color-pale-yellow: #fdeece;
}
